@import 'fonts/icomoon/style.scss';

.editor-styles-wrapper {
	/* Quotes */
	.wp-block-pullquote blockquote > .editor-rich-text p,
	.wp-block-quote p {
		font-style: normal;
		line-height: 1.6;
	}
	/* Widgets */
	.wp-block-categories ul,
	.wp-block-latest-posts,
	ul.wp-block-archives {
		padding-left: 0;
	}
	/* Responsive columns */
	@media (max-width: 1023px) {
		.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
			flex-wrap: wrap;

			> [data-type="core/column"] {
				flex-basis: 100%;
				margin-left: 14px;
			}
		}

		.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"] {
			flex-basis: 100%;
		}
	}

	.components-button {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}

	.editor-post-title__input {
		line-height: 1.6;
		font-weight: normal;
	}

	.editor-rich-text__tinymce a {
		text-decoration: none;
		color: inherit;
		border-bottom: solid 1px currentColor;
	}

	h1.block-editor-block-list__block,
	h2.block-editor-block-list__block,
	h3.block-editor-block-list__block,
	h4.block-editor-block-list__block,
	h5.block-editor-block-list__block,
	h6.block-editor-block-list__block,
	.block-editor-block-list__block h1,
	.block-editor-block-list__block h2,
	.block-editor-block-list__block h3,
	.block-editor-block-list__block h4,
	.block-editor-block-list__block h5,
	.block-editor-block-list__block h6 {
		font-weight: normal;
		line-height: 1.6;

		a {
			text-decoration: none;
			color: inherit;
			border-bottom: solid 1px currentColor;
		}
	}

	.wp-block,
	.block-editor-block-list__block,
	.wp-block .block-editor-block-list__block {
		-webkit-font-smoothing: antialiased !important;
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;

		.wp-block-video {
			video {
				width: 100%;
			}
		}

		li {
			a {
				line-height: 1.23;
				text-decoration: none;
			}
		}

		.wp-block-latest-posts ul {
			margin-top: 50px;
		}

		.wp-block-archives,
		.wp-block-categories > ul,
		.wp-block-latest-posts,
		.wc-block-product-categories {
			li {
				margin-bottom: 16px;
				list-style-type: none;
			}

			ul {
				margin-top: 16px;
				margin-left: 16px;
			}
		}

		.wp-block-preformatted pre {
			line-height: 1.6;
		}

		select,
		select:not([multiple]) {
			width: 100%;
			margin-bottom: 16px;
			padding: 10px;
			outline: none;
			cursor: pointer;
			font-size: 16px;
			height: auto;
			line-height: 1.6;
			border-radius: 0;
			border-style: solid;
			border-width: 1px;
			background: transparent;
			background-repeat: no-repeat;
    		background-position: center right 10px;
			background-size: 24px;
		}

		&[data-type="core/paragraph"] + [data-type="core/latest-posts"] {
			ul.wp-block-latest-posts {
				margin-top: 50px;
			}
		}

		.wp-block-pullquote {
			p {
				color: inherit;
			}

			.wp-block-pullquote__citation {
				opacity: 0.5;
				text-transform: none;
			}
		}

		&[data-align="left"] {
			.wp-block-pullquote {
				text-align: left;
			}

			.wp-block-cover {
				p {
					text-align: left;
				}
			}
		}

		&[data-align="right"] {
			.wp-block-pullquote {
				.wp-block-pullquote__citation,
				p {
					text-align: right;
				}
			}

			.wp-block-cover {
				p {
					text-align: right;
				}
			}
		}

		.wp-block-cover {
			.editor-rich-text {
				width: 100%;
				margin: 0 10%;
			}

			.wp-block-cover-text {
				color: #fff;
				width: 100%;
				max-width: none;
				margin-top: 0;
			}
		}
	}

	.wp-block[data-align="wide"],
	.block-editor-block-list__block[data-align="wide"],
	.wp-block[data-align="wide"] .block-editor-block-list__block {
	    max-width: 75vw;
	    margin-left: auto;
	    margin-right: auto;
	}

	.wp-block[data-align="full"],
	.block-editor-block-list__block[data-align="full"],
	.wp-block[data-align="full"] .block-editor-block-list__block {
	    max-width: none;
	}

	.wc-block-featured-product {
		.wc-block-featured-product__description {
			color: #fff;

			a,
			p {
				color: #fff !important;
			}

			a {
				text-decoration: none;
				border-bottom: solid 1px #fff;
			}
		}

		.wc-block-featured-product__link {
			.wp-block-button__link {
				background: #000;
				color: #FFF;
			}
		}
	}
	//Woo Products Blocks.
	.wc-block-grid {
		@media (min-width: 768px) {
			@for $i from 2 to 9 {
				&.has-#{$i}-columns .wc-block-grid__products .wc-block-grid__product {
					flex: 1 0 50%;
					max-width: 50%;
				}
			}
		}
		@media (min-width: 992px) {
			@for $i from 2 to 9 {
				&.has-#{$i}-columns .wc-block-grid__products .wc-block-grid__product {
					flex: 1 0 calc(#{100% / $i});
					max-width: 100% / $i;
				}
			}
		}

		.wc-block-grid__products {
			.wc-block-grid__product {
				margin-bottom: 40px;
				flex: 1 0 100%;
				max-width: 100%;

				.wc-block-grid__product-title,
				.wc-block-grid__product-title a {
					border: 0;
					font-size: 15px;
					line-height: 18px;
					font-weight: 400;
					margin-bottom: 0;
					margin-top: 0;
					@media only screen and (min-width: 1200px) {
						line-height: 25px;
						font-size: 16px;
					}
				}

				.wc-block-grid__product-price,
				.wc-block-grid__product-price__value,
	            .wc-block-grid__product-price__regular {
					font-size: 15px;
					line-height: 18px;
					display: block;
					padding: 5px 0 3px;
					margin-bottom: 0;
					@media only screen and (min-width: 1200px) {
						line-height: 25px;
						font-size: 16px;
						padding: 2px 0 0;
					}

					del {
						display: inline-block;
						color: #888888;
						opacity: .5;
					}

					ins {
						display: inline-block;
						text-decoration: none;
					}
				}

				.wc-block-grid__product-price__regular {
					margin-right: 5px;
				}

				.wc-block-grid__product-price__value {
					display: inline-block;
					font-weight: normal;
					letter-spacing: 0;
				}

				.wc-block-grid__product-onsale {
					transform: rotateZ(-90deg) translateX(-100%);
					transform-origin: top left;
					position: absolute;
					top: 10px !important;
					left: 10px !important;
					right: auto !important;
					line-height: 1.6;
					text-transform: uppercase;
					font-size: 10px;
					font-weight: bold;
					padding: 3px 9px;
					border-radius: 0;
					border: 0;
					margin: 0;
					letter-spacing: 1px;
					@media only screen and (min-width: 992px) {
						top: 15px !important;
						left: 15px !important;
						font-size: 11px;
					}
				}

				.wc-block-grid__product-add-to-cart {
					line-height: 1;

					.wp-block-button__link {
						background-color: transparent;
						color: #000;
						border-radius: 0;
						padding: 0;
						display: inline;
						margin: 0 auto;
						line-height: 18px;
						font-size: 15px;
						text-decoration: none;
						-webkit-box-decoration-break: slice;
						box-decoration-break: slice;
						transition: background-size 0.35s ease-in-out, opacity 0.3s ease-in-out;
						@media only screen and (min-width: 1200px) {
							font-size: 16px;
							line-height: 25px;

							&:hover {
								background-size: 0 100%;
							}
						}
					}
					button.wp-block-button__link {
						line-height: 1;
					}
				}

				.wc-block-grid__product-rating {
	                margin-bottom: 0;
	            }

				.wc-block-grid__product-rating .star-rating,
	            .wc-block-grid__product-rating__stars {

					position: relative;
					margin: 0 auto;
					display: table;
					position: relative;
					word-break: break-all;
					width: 80px;
					line-height: 24px;
					height: 24px;

					&:before {
						content: '\e929\e929\e929\e929\e929';
						display: block;
						font-size: 16px;
						color: #888888;
						font-family: '#{$icomoon-font-family}';
					}

					> span {
						font-size: 0;
						overflow: hidden;
						display: inline;
						position: absolute;
						left: 0;
						z-index: 1;
						height: 25px;
						top: 0;
						text-align: left;

						&:before {
							content: '\e929\e929\e929\e929\e929';
							display: block;
							font-size: 16px;
							width: 87.27px;
							color: #000;
							font-family: '#{$icomoon-font-family}';
						}
					}
				}
			}
		}

		.wc-block-product-sort-select select {
			background-size: 24px;
			background-repeat: no-repeat;
			background-position: top 10px right 5px;
			font-size: 16px;
			width: 100%;
			min-width: 100%;
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}

		.wc-block-pagination {
	        .wc-block-pagination-page {
	            background-image: linear-gradient(to top, black 1px, black 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 1px);
	            background-repeat: no-repeat;
	            background-position: 0 100%;
	            background-size: 0 100%;
	            cursor: pointer;
	            font-size: 1.375rem;
	            line-height: 38px;
	            margin: 0 18px;
	            padding: 0 4px;
	            outline: 0;
	            text-align: center;
	            display: inline-block;
	            height: 38px;
	            position: relative;
	            min-width: 0;
	            transition: background-size 0.35s ease-in-out;
	            &:hover {
	                background-size: 100% 100%;
	                box-shadow: 0px -1px 0px transparent inset;
	            }

	            &:after {
	                content: '';
	                background-color: #DDDDDD;
	                width: 1px;
	                height: 30px;
	                -webkit-transform: rotate(25deg) translateY(-50%);
	                -ms-transform: rotate(25deg) translateY(-50%);
	                transform: rotate(25deg) translateY(-50%);
	                display: inline-block;
	                top: 50%;
	                position: absolute;
	                right: -18px;
	            }

	            &:last-child:after {
	                content: none;
	            }

	            &.wc-block-pagination-page--active {
	                font-weight: normal;
	                &:before {
	                    content: '';
	                    display: block;
	                    width: 100%;
	                    height: 1px;
	                    background-color: #000;
	                    position: absolute;
	                    bottom: 0;
	                    left: 0;
	                    right: 0;
	                }
	            }
	        }
	    }
	}

	.block-editor-block-list__block[data-type="woocommerce/price-filter"],
	.block-editor-block-list__block[data-type="woocommerce/attribute-filter"],
	.block-editor-block-list__block[data-type="woocommerce/active-filters"] {
	    h3 textarea {
	        text-transform: uppercase;
	        font-size: 13px;
	        display: block;
	        margin-bottom: 1rem;
	    }
	}

	.block-editor-block-list__block[data-type="woocommerce/active-filters"] {
	    ul {
	        li.wc-block-active-filters-list-item {
	            font-size: 14px;
	            font-weight: normal;
	            border: 1px solid #DDDDDD;
	            background-color: transparent;
	            color: #000;
	            padding: 4px 12px 4px 30px;
	            margin: 4px;
	            display: inline-block;
	            transition: 0.2s ease-in-out;

	            .wc-block-active-filters-list-item__type {
	                display: none;
	            }
	            .wc-block-active-filters-list-item__name {
	                font-weight: normal;
	            }
	            button {
	                cursor: pointer;
	                outline: 0;
	                left: 0;
	                right: auto;
	                width: 20px;
	                &:before {
	                    background: none;
	                    content: '\e921';
	                    font-family: "Block-Shop";
	                    font-size: 8px;
	                    margin-right: 8px;
	                    color: #000;
	                    display: inline-block;
	                    top: -15px;
	                    right: -5px;
	                    position: relative;
	                    speak: none;
	                    font-style: normal;
	                    font-weight: normal;
	                    font-variant: normal;
	                    text-transform: none;
	                }
	            }
	        }
	    }
	    .wc-block-active-filters__clear-all {
	        appearance: none;
	        border-bottom: 1px solid;
	        font-size: 1rem;
	        padding: 0;
	        margin-top: 15px;
	        outline: 0;
	        cursor: pointer;
	        text-decoration: none;
	        float: none;
	        position: relative;
	        line-height: 1.23;
	        transition: background-size 0.35s ease-in-out;
	        &:hover {
	            background-image: linear-gradient(to top, black 1px, black 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 1px);
	            background-size: 0 100%;
	        }
	    }
	}

	.block-editor-block-list__block[data-type="woocommerce/price-filter"] {
	    .wc-block-price-filter__range-input-wrapper {
	        background: transparent;
	        margin-top: 0;
	        height: 2px;
	        box-shadow: none;
	        .wc-block-price-filter__range-input-progress,
	        .wc-block-price-filter__range-input {
	            height: 2px;
	        }
	        .wc-block-price-filter__range-input {
	    		&::-webkit-slider-thumb {
	    			background-image: none;
	                width: 16px;
	                height: 16px;
	                border-radius: 50%;
	                border: 2px solid;
	                display: block;
	                outline: none;
	                cursor: pointer;
	                @media only screen and (min-width: 1200px) {
	                    width: 10px;
	                    height: 10px;
	                }
	    		}

	    		&::-moz-range-thumb {
	                background-image: none;
	                width: 16px;
	                height: 16px;
	                border-radius: 50%;
	                border: 2px solid;
	                display: block;
	                outline: none;
	                cursor: pointer;
	                @media only screen and (min-width: 1200px) {
	                    width: 10px;
	                    height: 10px;
	                }
	    		}

	    		&::-ms-thumb {
	                background-image: none;
	                width: 16px;
	                height: 16px;
	                border-radius: 50%;
	                border: 2px solid;
	                display: block;
	                position: relative;
	                outline: none;
	                cursor: pointer;
	                @media only screen and (min-width: 1200px) {
	                    width: 10px;
	                    height: 10px;
	                }
	    		}
	            &:focus {
	                &::-webkit-slider-thumb {
	                    box-shadow: none;
	                    border: 2px solid;
	                    filter: none;
	                }
	                &::-moz-range-thumb {
	                    box-shadow: none;
	                    border: 2px solid;
	                    filter: none;
	                }
	                &::-ms-thumb {
	                    box-shadow: none;
	                    border: 2px solid;
	                    filter: none;

	                }
	            }
	            &:hover {
	                &::-webkit-slider-thumb {
	                    box-shadow: none;
	                    border: 2px solid;
	                    filter: none;
	                }
	                &::-moz-range-thumb {
	                    box-shadow: none;
	                    border: 2px solid;
	                    filter: none;
	                    transition: none;
	                }
	                &::-ms-thumb {
	                    box-shadow: none;
	                    border: 2px solid;
	                    filter: none;

	                }
	            }
	            &.wc-block-price-filter__range-input--min {
	                &::-webkit-slider-thumb {
	                    position: relative;
	                    top: 1px;
	                }
	                &::-moz-range-thumb {
	                    position: relative;
	                    top: 1px;
	                }
	                &::-ms-thumb {
	                    position: relative;
	                    top: 1px;

	                }
	            }
	            &.wc-block-price-filter__range-input--max {
	                &::-webkit-slider-thumb {
	                    position: relative;
	                    top: -1px;
	                }
	                &::-moz-range-thumb {
	                    position: relative;
	                    top: -1px;
	                }
	                &::-ms-thumb {
	                    position: relative;
	                    top: -1px;

	                }
	            }
	        }
	    }
	    .wc-block-price-filter__controls {
			margin-top: 30px;
	        .wc-block-price-filter__amount {
				border-radius: 0;
				background: transparent;
				font-size: 16px;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				padding: 0 0 5px 0;
				width: 100%;
	        }
			.wc-block-price-filter__amount--min {
				margin-right: 50px;
			}
	    }
	}

	.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] {
	    ul {
	        li {
				text-decoration: none;

	            input[type="checkbox"] {
	                margin-right: 12px;
	                width: 15px;
	                height: 15px;
	                position: relative;
					border-width: 1px;
					border-radius: 0;
					background: transparent;
	                top: 2px;
	                &:after {
	                    content: '';
	                    width: 5px;
	                    height: 5px;
	                    background-color: #000;
	                    border-radius: 3px;
	                    position: absolute;
	                    left: 4px;
	                    top: 4.2px;
	                    opacity: 0;
	                    -webkit-transition: opacity 0.2s ease-in-out;
	                    -o-transition: opacity 0.2s ease-in-out;
	                    transition: opacity 0.2s ease-in-out;
	                }
	                &:hover {
	                    border: 2px solid #000;
	                    &:after {
	                        left: 3px;
	                        top: 3.2px;
	                        opacity: 1;
	                    }
	                }
	            }
	            label {
					font-size: 1rem;
	                float: none;
	            }
	            .wc-block-attribute-filter-list-count {
	                margin-left: 5px;
					float: none;
	            }
	        }
	    }
	}

	.wc-block-product-search {
		.wc-block-product-search__label {
			font-size: 0.9rem;
		}
		.wc-block-product-search__fields {
			display: block;
			position: relative;

			.wc-block-product-search__field {
				border: 0;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-radius: 0;
				font-size: 16px;
				padding: 10px 36px 10px 0;
			}

			.wc-block-product-search__button {
				background-color: transparent;
				box-shadow: none !important;
				bottom: 11px;
				margin: 0;
				position: absolute;
				right: 0;
			}
		}
	}

	.wc-block-all-reviews,
	.wc-block-reviews-by-product,
	.wc-block-reviews-by-category {
		.wc-block-review-order-select {
			.wc-block-order-select__label {
				font-size: 0.9rem;
				text-align: left;
				width: 100%;
			}

			.wc-block-order-select__select {
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAkUlEQVRIie3PMQrCUBRE0aMoBASXY2UjNuJi7AT7kMrepbiEFK7CJYhgb/MDNgn/SVKIuTDNY5jLY6RnipRspkHBISWbWVAwD/bDH4QZBaPgxwUXVBkbVeqGBUesce7olNjg9I3ghT1WLZISW+zwbBuZdAgaFrjihke6FTnjEZaocU+p061XGskg45+Swcb/lDesfhLpnPjiLQAAAABJRU5ErkJggg==");
			    background-size: 24px !important;
			    background-position: right 5px top 50%;
				background-repeat: no-repeat;
				border: 0;
				border-bottom: 1px solid;
				display: block;
				min-width: 100%;
				width: 100%;
			}
		}

		.wc-block-review-list-item__product,
		.wc-block-review-list-item__product a {
			line-height: 1;
		}

		.wc-block-review-list-item__rating__stars {
			top: 4px;
		}

		.wc-block-review-list-item__published-date {
			font-size: 16px;
		}

		.wc-block-review-list-item__rating__stars {
			font-size: 11px;
		}
	}

	.wc-block-all-reviews,
	.wc-block-reviews-by-category {
		.wc-block-review-list-item__author {
			font-size: 16px;
		}
	}

	.wp-block-gallery {
		figcaption a {
			color: #fff !important;
			border-color: #fff !important;
		}
	}

	.wp-block-latest-comments {
		margin-left: 0;

		.wp-block-latest-comments__comment-author,
		.wp-block-latest-comments__comment-link {
			font-size: 1.05rem;
			line-height: 1;
		}

		.wp-block-latest-comments__comment-date {
			color: #888888;
			font-size: 14px;
			line-height: 16px;
			float: right;
			margin: 0!important;
			top: 3px;
			position: relative;
		}

		.wp-block-latest-comments__comment-meta {
			margin-bottom: 16px !important;
		}

		.wp-block-latest-comments__comment-excerpt * {
			font-size: 1rem !important;
    		line-height: 1.4rem !important;
		}

		.wp-block-latest-comments__comment {
			margin-bottom: 32px;
		}
	}

	.wp-block-search {
		.wp-block-search__label {
			font-weight: normal;
			font-size: 0.9rem;
		}

		.wp-block-search__input {
			border: 0;
			border-bottom: 1px solid #dddddd;
			border-radius: 0;
			font-size: 16px;
			padding: 10px 0;
			width: 100%;
		}

		.wp-block-search__button {
			background-color: #000;
			border-radius: 0;
			box-shadow: none;
			color: #fff;
			font-size: 0.95rem;
			line-height: 2.25rem;
			margin-left: 0;
			margin-top: 10px;
			padding: 2px 20px;
			text-align: center;

			.wp-block-search__button-rich-text {
				padding: 0;
			}
		}
	}

	.editor-block-list__layout .editor-block-list__layout .editor-block-mover__control,
	.editor-block-list__layout .editor-block-list__layout .editor-block-mover__control-drag-handle:not(:disabled):not([aria-disabled="true"]):not(.is-default) {
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.js .meta-box-sortables .postbox .handlediv .toggle-indicator:before {
	content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M12,8l-6,6l1.41,1.41L12,10.83l4.59,4.58L18,14L12,8z'%2F%3E%3C%2Fsvg%3E");
	margin-top: 9px;
	width: 24px;
	height: 24px;
}

.js .meta-box-sortables .postbox.closed .handlediv .toggle-indicator:before {
	content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M7.41,8.59L12,13.17l4.59-4.58L18,10l-6,6l-6-6L7.41,8.59z'%20fill%3D'%23191e23'%2F%3E%3C%2Fsvg%3E");
}

.edit-post-meta-boxes-area #poststuff .postbox h2.hndle {
	border-bottom: 0;
	color: #191e23;
	font-weight: 600;
	font-size: 13px;
	cursor: pointer;
}

.edit-post-meta-boxes-area #poststuff .postbox > .inside > p {
	margin-bottom: 20px;
}

.edit-post-meta-boxes-area #poststuff .postbox > .inside > p:last-of-type {
	margin-bottom: 0;
}

.edit-post-meta-boxes-area #poststuff .postbox > .inside {
	padding: 0 16px 16px;
}

.edit-post-meta-boxes-area #poststuff .inside {
	margin: 5px 0 0;
}
