$icomoon-font-family: "Block-Shop" !default;
$icomoon-font-path: "fonts/icomoon/fonts" !default;

$blockshop-grid-veiw-1: "\e900";
$blockshop-grid-view-2: "\e901";
$blockshop-download: "\e903";
$blockshop-filter: "\e904";
$blockshop-left-arrow: "\e905";
$blockshop-my-account-logout-24x24: "\e906";
$blockshop-right-arrow: "\e907";
$blockshop-scroll-to-top: "\e908";
$blockshop-sort-by-arrow-dark: "\e909";
$blockshop-x-times-8x8-dark: "\e90a";
$blockshop-uniE90B: "\e90b";
$blockshop-uniE90C: "\e90c";
$blockshop-uniE90D: "\e90d";
$blockshop-enlarge: "\e90e";
$blockshop-play-16x16-dark: "\e90f";
$blockshop-play-16x16-hover: "\e910";
$blockshop-quick-view-16x16-dark-hover: "\e911";
$blockshop-quick-view-16x16-dark: "\e912";
$blockshop-wishlist-16x16-dark-hover: "\e913";
$blockshop-wishlist-16x16-dark: "\e914";
$blockshop-external-16x16-dark: "\e915";
$blockshop-more-16x16-dark: "\e916";
$blockshop-share-16x16-dark-alt: "\e917";
$blockshop-info-24x24: "\e918";
$blockshop-success-24x24: "\e919";
$blockshop-warning-24x24: "\e91a";
$blockshop-selector-arrow-dark: "\e91b";
$blockshop-cart-20x20: "\e920";
$blockshop-close-20x20: "\e921";
$blockshop-login-20x20: "\e922";
$blockshop-menu-20x20: "\e923";
$blockshop-search-20x20: "\e924";
$blockshop-comment: "\e925";
$blockshop-minus-icon-dark: "\e926";
$blockshop-plus-icon-dark: "\e927";
$blockshop-Group: "\e902";
$blockshop-star: "\e928";
$blockshop-star-full: "\e929";
$blockshop-social-facebook-circled: "\e91c";
$blockshop-social-google-maps: "\e91d";
$blockshop-social-apple-app-store: "\e91e";
$blockshop-social-google-play: "\e91f";
$blockshop-social-behance: "\e92a";
$blockshop-social-foursquare: "\e92b";
$blockshop-social-github: "\e92c";
$blockshop-social-help-center: "\e92d";
$blockshop-social-line: "\e92e";
$blockshop-social-reddit: "\e92f";
$blockshop-social-tumblr: "\e930";
$blockshop-social-viber: "\e931";
$blockshop-social-vkcom: "\e932";
$blockshop-social-weibo: "\e933";
$blockshop-social-whatsapp: "\e934";
$blockshop-social-wordpress: "\e935";
$blockshop-social-yelp: "\e936";
$blockshop-social-linkedin: "\e937";
$blockshop-social-medium: "\e938";
$blockshop-social-google-plus-circled: "\e939";
$blockshop-social-pinterest: "\e93a";
$blockshop-social-facebook-messenger: "\e93b";
$blockshop-social-twitter: "\e93c";
$blockshop-social-instagram: "\e93d";
$blockshop-social-youtube-play-button-logo: "\e93e";

